[
 {rabbit,
  [
   {default_vhost, <<"/agility">>},
   {default_user, <<"admin">>},
   {default_pass, <<"x0cloud">>},
   {default_permissions, [<<".*">>, <<".*">>, <<".*">>]},
   {cluster_nodes, {[], disc}},
   {tcp_listeners, [5672]},
   {ssl_listeners, [35672]},
   {ssl_options, [{cacertfile,"/var/lib/rabbitmq/ca.crt"},
                    {certfile,"/var/lib/rabbitmq/server.crt"},
                    {keyfile,"/var/lib/rabbitmq/server.pem"},
                    {verify,verify_peer},
                    {fail_if_no_peer_cert,false}]},
   {password_hashing_module, rabbit_password_hashing_sha256}
  ]
 },
 {rabbitmq_management,
    [
      {load_definitions, "/etc/rabbitmq/rabbitmq_definitions.json"}
    ]
 }
].
