[mysqld]
server_id = 1
log_bin = 1
gtid-mode = ON
enforce-gtid-consistency = 1
log_slave_updates = 1
log_bin_trust_function_creators = 1
replicate-ignore-db=mysql

socket = /var/run/mysqld/mysqld.sock

default-storage-engine=innodb
innodb_buffer_pool_size=1G
innodb_buffer_pool_instances=4
innodb_lock_wait_timeout=300
event_scheduler=ON
open_files_limit=65535

max_allowed_packet = 100M
interactive_timeout=31536000
wait_timeout=31536000
max_connections=10000
thread_cache_size=8

join_buffer_size=32M
tmp_table_size=32M
max_heap_table_size=128M
myisam_sort_buffer_size=64M
key_buffer_size=384M
read_rnd_buffer_size=4M
sort_buffer_size=64M

# Added for Agility 8.0
max_sp_recursion_depth=32
thread_stack=1M

# Added for mysql 5.7
sql_mode=''

# TLS config
#require_secure_transport = 1

#########################
# Thread pool settings
#########################
plugin-load=thread_pool.so
thread_pool_size=24


[client]
socket = /var/run/mysqld/mysqld.sock
